{% extends "base.html" %}
{% load static %} 


{%block Titulo%}Nossa História{%endblock Titulo%}

{%block Conteudo%}


<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Nossa História</h1>
                    <p class="lead fw-normal text-white-50 mb-0"> Bem-vindo à Senac Store - Nossa Jornada Começa em 2023 </p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                
                <div class="text-dark">
                    
                    <div class="fs-5 mb-5">Em um ano marcado por inovação e determinação, nasceu a Senac Store, uma empresa que desde o seu embrião em 2023, teve como missão transformar sonhos em realidade. Fundada por Deziane Sabino, a nossa jornada começou com a visão audaciosa de oferecer não apenas produtos, mas uma experiência única e significativa para nossos clientes.
                    
                    <h1 class="text-center display-5 fw-bolder"> A Origem: Um Sonho, Uma Visão </h1>

                    A semente da Senac Store foi plantada com a convicção de que cada cliente é único e merece mais do que simplesmente adquirir um produto. Buscamos transcender as expectativas, proporcionando não apenas mercadorias, mas sim um estilo de vida, uma expressão de personalidade e um compromisso com a qualidade e a excelência.

                    <h1 class="text-center display-15 fw-bolder"> Valores que Nos Guiam </h1>


                    Desde o início, pautamos nossa jornada por valores sólidos. A transparência, a integridade e o respeito são a base que sustenta cada interação com nossos clientes, parceiros e colaboradores. Buscamos constantemente a inovação, mantendo-nos atentos às tendências e às necessidades do mercado, sempre com a promessa de evoluir para atender às demandas em constante mudança.

                    <h1 class="text-center display-15 fw-bolder"> Comprometimento com a Qualidade </h1>


                    Na Senac Store, a qualidade é mais do que um padrão; é um compromisso inegociável. Selecionamos cuidadosamente cada produto, trabalhando em parceria com fornecedores que compartilham nossa visão de excelência. Cada item em nossa loja é escolhido a dedo, refletindo o comprometimento em oferecer o melhor aos nossos clientes.

                    <h1 class="text-center display-15 fw-bolder"> Construindo Relacionamentos Duradouros </h1>


                    Mais do que uma empresa, somos uma comunidade unida por paixões, interesses e aspirações comuns. Acreditamos que, ao construir relacionamentos sólidos e genuínos, podemos criar uma experiência de compra que vai além do comércio. Cada cliente é um membro valioso da família Senac Store, e estamos comprometidos em cultivar conexões duradouras.

                    <h1 class="text-center display-15 fw-bolder"> O Futuro: Uma História em Construção </h1>


                    A Senac Store é mais do que um ponto de venda; é uma narrativa em constante evolução. À medida que avançamos para o futuro, estamos animados com as possibilidades e oportunidades que aguardam. Agradecemos por fazer parte desta história desde o início e mal podemos esperar para compartilhar muitos capítulos emocionantes pela frente.

                    Junte-se a nós na Senac Store e faça parte de uma jornada que transcende o ordinário. Descubra produtos excepcionais, serviço dedicado e uma experiência de compra que reflete a nossa paixão por superar expectativas. Bem-vindo à nossa casa, bem-vindo à Senac Store.

                    

                </div>
            </div>
        </section>



{%endblock Conteudo%}